                    <div class="row">
                        <div class="col-md-3">
                            <div class=" state-overview">
                                  <section class="panel">
                                      <div class="symbol red">
                                          <i class="icon-th-list"></i>
                                      </div>
                                      <div class="value">
                                          <h1>10</h1>
                                          <p>Categories</p>
                                      </div>
                                  </section>
                              </div>
                        </div>

                        <div class="col-md-3">
                            <div class=" state-overview">
                                  <section class="panel">
                                      <div class="symbol blue">
                                          <i class="icon-food"></i>
                                      </div>
                                      <div class="value">
                                          <h1>140</h1>
                                          <p>Meals</p>
                                      </div>
                                  </section>
                              </div>
                        </div>

                        <div class="col-md-3">
                            <div class=" state-overview">
                                  <section class="panel">
                                      <div class="symbol yellow">
                                          <i class="icon-tags"></i>
                                      </div>
                                      <div class="value">
                                          <h1>15</h1>
                                          <p>Tables</p>
                                      </div>
                                  </section>
                              </div>
                        </div>

                        <div class="col-md-3">
                            <div class=" state-overview">
                                  <section class="panel">
                                      <div class="symbol red">
                                          <i class="icon-group"></i>
                                      </div>
                                      <div class="value">
                                          <h1>500</h1>
                                          <p>Customers</p>
                                      </div>
                                  </section>
                              </div>
                        </div>
                    </div>

                    <div class="row" style="min-height:429px">
                        <div class="col-md-12">
                            <div class="jumbotron text-center" style="background:none">
                                <h1 style="color:#ff6c60"><span><i class="icon-key"></i> Admin Panel</h1>
                                <br />
                                <p>You can control categories, meals, tables and users from here...</p>
                            </div>
                        </div>
                    </div>
