
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li>
                      <a class="active" href="index.php">
                          <i class="icon-cogs"></i>
                          <span>Admin panel</span>
                      </a>
                  </li>

                  <!-- Categories menu -->
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-th-list"></i>
                          <span>Meals categories</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="categories.php">All categories</a></li>
                          <li><a  href="addcategory.php">Add category</a></li>
                      </ul>
                  </li>

                  <!-- Meals drop menu -->
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-food"></i>
                          <span>Meals</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="meals.php">All meals</a></li>
                          <li><a  href="addmeal.php">Add meal</a></li>
                      </ul>
                  </li>

                  <!-- Orders link -->
                  <li>
                      <a href="orders.php" >
                          <i class="icon-phone-sign"></i>
                          <span>Orders</span>
                      </a>
                  </li>

                  <!-- Tables drop menu -->
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-tags"></i>
                          <span>Tables</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="tables.php">All tables</a></li>
                          <li><a  href="users_tables.php">All reservations</a></li>
                          <li><a  href="addtable.php">Add table</a></li>
                      </ul>
                  </li>
                  <!-- Users drop menu -->
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-group"></i>
                          <span>Users</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="users.php">All users</a></li>
                          <li><a  href="adduser.php">Add user</a></li>
                      </ul>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
