        <!-- Footer -->
        <!-- Start Follow Us -->
        <footer class="follow">
            <h2 class="h1 text-center">Follow Us</h2>
            <div class="social-follow text-center">
                <a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook fa-2x" ></i></a>
                <a href="#" data-toggle="tooltip" title="Twitter!"><i class="fa fa-twitter fa-2x"></i></a>
                <a href="#" data-toggle="tooltip" title="dribbble"><i class="fa fa-dribbble fa-2x"></i></a>
                <a href="#" data-toggle="tooltip" title="Github"><i class="fa fa-github fa-2x"></i></a>
                <a href="#" data-toggle="tooltip" title="Android"><i class="fa fa-android fa-2x"></i></a>
                <a href="#" data-toggle="tooltip" title="Phone: +2-01000000000"><i class="fa fa-phone fa-2x"></i></a>
            </div>
            <div class="rights text-center">&copy;  CS<?php echo date('Y'); ?>Restaurant . All Rights Reserved | <a href="#"> CS<?php echo date('Y'); ?> </a></div>
        </footer>
        <!-- End Follow Us -->

        <!-- js libraries and custom scripts -->
        <script src="assets/front/js/jquery-1.11.1.min.js"></script>
        <!-- bootstrap -->
        <script src="assets/front/js/bootstrap.js"></script>
        <!-- Date time picker -->
        <script src="assets/front/js/jquery.datetimepicker.full.js"></script>
        <!-- Nice Scroll Plugin -->
        <script src="assets/front/js/jquery.nicescroll.min.js"></script>

        <script src="assets/front/js/jquery.vide.min.js"></script>
        <!-- my custom script -->
        <script src="assets/front/js/custom.js"></script>
    </body>
</html>