		<!-- start main header -->
		<div class="top-header" data-vide-bg="assets/front/video/cook">
			<!-- banner -->
			<div class="banner">
				<div class="container">
					<div class="banner-info">
						<h2>Vestibulum vel est et sapien</h2>
						<p>Nunc volutpat nec quam et ullamcorper. Vivamus molestie mi at mauris rutrum maximus.</p>
					</div>
					<div class="banner-grads">
						<div class="col-md-4 col-sm-12 banner-grad">
							<div class="banner-grad-img">
								<img src="assets/front/images/b1.jpg" alt="" />
								<h4>Suspendisse</h4>
							</div>
						</div>

						<div class="col-md-4 col-sm-12 banner-grad">
							<div class="banner-grad-img">
								<img src="assets/front/images/b2.jpg" alt="" />
								<h4>Molestie</h4>
							</div>
						</div>

						<div class="col-md-4 col-sm-12 banner-grad">
							<div class="banner-grad-img">
								<img src="assets/front/images/b3.jpg" alt="" />
								<h4>Imperdiet</h4>
							</div>
						</div>

						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!-- //banner -->
		</div>
		<!-- end main header -->

		<!-- About us -->
		<div class="about nxtSecOffset">
			<div class="container">
				<div class="about-heading">
					<h2>About Us</h2>
				</div>
				<div class="about-grids">
					<div class="col-md-5 wthree-about-left">
						<div class="wthree-about-left-info">
							<img src="assets/front/images/n2.jpg" alt="">
						</div>
					</div>
					<div class="col-md-7 agileits-about-right">
						<h5>Cras ac pellentesque diam. Mauris eu purus eu lectus fermentum dictum at ut dolor. Fusce id sodales turpis. Mauris facilisis tristique tincidunt. Phasellus hendrerit ligula dui, quis elementum mi condimentum at.</h5>
						<p>In hac habitasse platea dictumst. Aenean quis orci a erat convallis tincidunt. Curabitur blandit efficitur quam sit amet sagittis. Mauris aliquam, dui nec semper pellentesque, ex erat fringilla purus, ut placerat ante urna in nulla. Nullam est nunc, dictum dictum blandit sit amet, gravida et elit. Suspendisse ultricies mauris eu tortor blandit gravida.
						<span>Nullam eget viverra mi. Etiam eget posuere eros, id vulputate neque. Etiam interdum consequat erat, sed auctor neque ullamcorper a. Integer commodo eget risus vitae gravida. Nullam libero mi, condimentum quis finibus ut, consequat ac quam.</span>
						</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- // About us -->

		<!-- features -->
		<div class="features">
			<div class="container">
				<div class="features-heading">
					<h3>Our Features</h3>
				</div>
				<div class="features-grids">
					<div class="col-md-4 features-left">
						<div class="features-left-info">
						</div>
					</div>
					<div class="col-md-8 features-right">
						<div class="features-right-info">
							<h4>Quisque scelerisque mollis lacus, nec commodo lacus posuere quis. Aliquam erat volutpat. Sed laoreet, felis vitae viverra aliquet, magna nulla tincidunt odio, at laoreet nisi nisl sit amet risus. Suspendisse ullamcorper tempus eros, eget aliquam eros tincidunt in.</h4>
						</div>
						<div class="features-right-grids">
							<div class="features-right-left">
								<div class="features-right-icon effect-2">
									<i class="fa fa-users" aria-hidden="true"></i>
								</div>
							</div>
							<div class="features-right-right">
								<p>Nulla auctor vel ex a suscipit. Integer scelerisque nec dui et ullamcorper. Aenean vitae urna non est luctus venenatis. </p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="features-right-grids">
							<div class="features-right-left">
								<div class="features-right-icon effect-2">
									<i class="fa fa-asterisk" aria-hidden="true"></i>
								</div>
							</div>
							<div class="features-right-right">
								<p>Nulla auctor vel ex a suscipit. Integer scelerisque nec dui et ullamcorper. Aenean vitae urna non est luctus venenatis. </p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="features-right-grids">
							<div class="features-right-left">
								<div class="features-right-icon effect-2">
									<i class="fa fa-money" aria-hidden="true"></i>
								</div>
							</div>
							<div class="features-right-right">
								<p>Nulla auctor vel ex a suscipit. Integer scelerisque nec dui et ullamcorper. Aenean vitae urna non est luctus venenatis. </p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="features-right-grids">
							<div class="features-right-left">
								<div class="features-right-icon effect-2">
									<i class="fa fa-cog" aria-hidden="true"></i>
								</div>
							</div>
							<div class="features-right-right">
								<p>Nulla auctor vel ex a suscipit. Integer scelerisque nec dui et ullamcorper. Aenean vitae urna non est luctus venenatis. </p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //features -->

		<!-- special -->
		<div class="special">
			<div class="container">
				<div class="special-heading">
					<h3>Today Specials</h3>
				</div>
				<div class="special-grids">
					<div class="col-md-4 w3l-special-grid">
						<div class="col-md-6 w3ls-special-img">
							<div class="w3ls-special-text effect-1">
								<h4>Aliquam</h4>
							</div>
						</div>
						<div class="col-md-6 agileits-special-info">
							<h4>Aliquam</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 w3l-special-grid">
						<div class="col-md-6 w3ls-special-img wthree-img">
							<div class="w3ls-special-text effect-1">
								<h4>Nullam</h4>
							</div>
						</div>
						<div class="col-md-6 agileits-special-info">
							<h4>Nullam</h4>
							<p>Maecenas ac hendrerit purus. Lorem ipsum dolor sit amet</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 w3l-special-grid">
						<div class="col-md-6 w3ls-special-img wthree-img1">
							<div class="w3ls-special-text effect-1">
								<h4>Maecenas</h4>
							</div>
						</div>
						<div class="col-md-6 agileits-special-info">
							<h4>Maecenas</h4>
							<p>Donec nibh enim, cursus sodales laoreet sit amet, tincidunt</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 w3l-special-grid">
						<div class="col-md-6 agileits-special-info">
							<h4>Aliquam</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
						</div>
						<div class="col-md-6 w3ls-special-img wthree-img2">
							<div class="w3ls-special-text effect-1">
								<h4>Aliquam</h4>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 w3l-special-grid">
						<div class="col-md-6 agileits-special-info">
							<h4>Nullam</h4>
							<p>Maecenas ac hendrerit purus. Lorem ipsum dolor sit amet</p>
						</div>
						<div class="col-md-6 w3ls-special-img wthree-img3">
							<div class="w3ls-special-text effect-1">
								<h4>Nullam</h4>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 w3l-special-grid">
						<div class="col-md-6 agileits-special-info">
							<h4>Maecenas</h4>
							<p>Donec nibh enim, cursus sodales laoreet sit amet, tincidunt</p>
						</div>
						<div class="col-md-6 w3ls-special-img wthree-img4">
							<div class="w3ls-special-text effect-1">
								<h4>Maecenas</h4>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //special -->

		<!-- Start My Map -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d12102236.987245979!2d40.0425832181595!3d28.277473801768377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x14368976c35c36e9%3A0x2c45a00925c4c444!2sEgypt!3m2!1d26.820553!2d30.802498!5e0!3m2!1sen!2seg!4v1453320000200" style="border:0" allowfullscreen></iframe>
        <!-- End My Map -->
